
<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Product List</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Product" asp-action="Upsert"> <i class="bi bi-plus-lg"></i> Create Product</a>
        </div>
    </div>
</div>
<br />
<table class="table table-bordered table-striped" style="width:auto; border-width:thick; border-color:white">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>ListPrice</th>
            <th>Author</th>
            <th>Category</th>
        </tr>
    </thead>
</table>
