@model CoverType 
<form method="post" asp-action="CreateObj">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Cover Type</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
@*        <div class="mb-3">
            <label asp-for="Id"></label>
            <input class="form-control" asp-for="Id" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
*@        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
