@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Index Cover Type</h1>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="CoverType" asp-action="Create"> <i class="bi bi-plus-lg"></i> Create New Cover Type</a>
        </div>
    </div>
</div>
<br />
<table class="table table-bordered" style="width:auto; border-width:thick; border-color:white">
    <thead>
        <tr>
            <th>
                Cover Type
            </th>
            <th>
                Id
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Id
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id" style="width:auto"><i class="bi bi-pencil-square"></i>Edit</a>
                    <a class="btn btn-danger" asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id" style="width:auto"><i class="bi bi-trash2"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
